<body><div class="row" *ngIf="available else result">
    <div style="margin-top: 10%;" class="col-6 offset-md-3">
        <div class="card">
            <form>
                <div class="card-header">
                    {{questions[0].question}}
                </div>
                <div class="card-body">
                    <label *ngFor="let ans of questions[0].incorrect_answers" class="container">{{ans}}
                        <input type="radio" name="radio" [value]="ans" [(ngModel)]='clicked'>
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">{{questions[0].correct_answer}}
                        <input type="radio" [value]="questions[0].correct_answer" [(ngModel)]='clicked' name="radio">
                        <span class="checkmark"></span>
                    </label>
                    <button type="submit" class="btn submit" (click)="getNext()">Next</button>
                </div>
            </form>
        </div>
    </div>
</div>

<ng-template #result>
    <button style="margin-top: 20%;margin-left: 40%;" type="button" class="btn btn-info btn-lg" (click)="getResults(uname)">Get Results</button>
</ng-template>
</body>