<div *ngFor="let subject of subjects">
    <h2 (click)="onselect(subject)">{{subject.name}}</h2>
</div>
<h2>{{errorMsg}}</h2>

<!-- <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
    <mdb-carousel-item *ngFor="let subject of subjects">
      <div class="view w-100">
        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg" alt="First slide">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive" (click)="onselect(subject)">{{subject.name}}</h3>
      </div>
    </mdb-carousel-item>
</mdb-carousel> -->